body {
    background-color: #ECF0F1;
}

body > div,
body > div > div,
body > div > div > div.login-form {
    height: 100%;
}

.login-form > .main-grid {
    height: 100%;
}

.login-form > .main-grid > .grid-column{
    max-width: 450px;
}