body {
    background-color: #ECF0F1;
}

.not-found {
    margin-top: 25px;
}

body > div,
body > div > div,
body > div > div > div.not-found {
    height: 100%;
}

.not-found > .main-grid {
    height: 100%;
}

.not-found > .main-grid > .grid-column{
    max-width: 450px;
}